<section class="pl-3 pr-3 my-pt">
  <h5 class="text-bold">PENGANTAR</h5>
  <p>
    Sesuai dengan Keputusan Menteri Kesehatan Republik Indonesia No:
    1778/SK/XII/2010 tanggal 13 Desember 2010 bahwa Standar Ketenagaan Tenaga
    Kesehatan yang bekerja di ICU harus mempunyai sertifikat FCCS. Pelayanan
    kesehatan (termasuk pelayanan di ICU) semakin hari dituntut lebih
    berkualitas tinggi demi keselamatan pasien (<i>patient safety</i>). Untuk
    kepentingan tersebut diperlukan standar pelayanan dasar yang memadai dan
    universal namun "<i>up to date</i>". Pedoman dasar pelayanan pasien di ICU
    yang universal dan bersifat mendunia adalah FCCS. PERDICI yang merupakan
    organisasi/wadah dari dokter-dokter intensive care (<i>intensivist</i>) di
    Indonesia yang menggeluti dalam bidang ilmu kedokteran intensive care (<i
      >Intensive Care Medicine</i
    >) dan pemegang lisensi kursus FCCS, bertanggung jawab demi tercapainya
    tujuan tersebut diatas. Dengan diselenggarakan kursus FCCS diharapkan
    peserta mempunyai pengetahuan dan ketrampilan dasar untuk bisa mengelola
    pasien di ICU secara <i>up to date</i> dibawah supervisi dokter intensivist.
    Pengantar bahasa dalam kursus FCCS ini adalah Bahasa Indonesia, sedangkan
    bahasa dalam <i>Textbook</i> FCCS, soal <i>pre</i> dan
    <i>post test</i> menggunakan Bahasa Inggris.
  </p>

  <h5 class="text-bold">MANFAAT KURSUS BAGI PESERTA</h5>
  <ul class="pl-0">
    <li class="none">
      Memahami dasar-dasar penanganan awal pasien sakit kritis
    </li>
    <li class="none">
      Mengerti dan mampu melakukan penanganan awal pada pasien sakit kritis
      sebelum dilakukan konsultasi bantuan atau <i>transfer</i> dengan tujuan
      mencegah timbulnya <i>morbiditas</i> dan <i>mortalitas</i>
    </li>
  </ul>

  <h5 class="text-bold">PESERTA</h5>
  <ul class="pl-0">
    <li class="none">
      Dokter/dokter spesialis yang bertugas di <i>Emergency Department</i>
    </li>
    <li class="none">Dokter/dokter spesialis yang berrtugas di ICU</li>
    <li class="none">Dokter/dokter spesialis yang bertugas di HCU</li>
    <li class="none"><i>Fellow Critical Care/Intensive Care</i></li>
    <li class="none">Peserta Program Pendidikan Dokter Spesialis</li>
  </ul>

  <h5 class="text-bold">SERTIFIKAT</h5>
  <p class="mb-0">
    Peserta yang telah dinyatakan lulus kursus, akan mendapatkan 2 (dua) buah
    sertifikat yaitu:
  </p>
  <ul class="pl-3">
    <li class="number">
      Dari <i>Society of Critical Care Medicine</i> (SCCM) yang berlaku secara
      Internasional selama 4 (empat) tahun
    </li>
    <li class="number">Dari PERDICI berakreditasi IDI</li>
  </ul>

  <h5 class="text-bold">PELAKSANAAN</h5>
  <ul class="pl-0">
    <li class="none">
      Peserta akan mendapatkan <i>Textbook</i> FCCS (sebagai buku pegangan) dari
      <i>Society Critical Care Medicine</i>, Amerika
    </li>
    <li class="none">
      Kursus akan diselenggarakan setiap bulan, silahkan klik
      <a href="<?= base_url('registration'); ?>">registration</a> untuk melihat
      jadwal kesediaan kursus
    </li>
    <li class="none">
      Batas akhir pendaftaran jika sudah memenuhi kuota peserta atau H-7 tanggal
      mulai kursus
    </li>
    <li class="none">
      Tanggal mulai kursus di setiap hari Sabtu minggu ke-4, dengan durasi
      <i>test</i> 7 hari dengan ke-8 ujian akhir.
    </li>
  </ul>

  <h5 class="text-bold">PERSYARATAN</h5>
  <ul class="pl-3">
    <li class="number">Nama Lengkap</li>
    <li class="number">Nomor Handphone</li>
    <li class="number">Alamat Email</li>
    <li class="number">Rumah Sakit & <i>Department</i>/Ruangan</li>
    <li class="number">Masih Bekerja</li>
    <li class="number">Alamat Tempat Tinggal (Pengiriman <i>Textbook</i>)</li>
    <li class="number">
      Profile Photo (Format outfit, JPG/PNG file, Size 200 x 200 pixels square
    </li>
    <li class="number">
      Surat Keterangan Bekerja di Rumah Sakit/Klinik (PDF file)
    </li>
  </ul>

  <h5 class="text-bold">BIAYA KURSUS</h5>
  <p>Rp. 3.000.000,- / peserta (Tiga Juta Rupiah)</p>

  <h5 class="text-bold">CEK JADWAL KURSUS DAN MENDAFTAR</h5>
  <p>Klik <a href="<?= base_url('registration'); ?>">Registration</a></p>

  <h5 class="text-bold">MATERI TOPIK</h5>
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr class="bg-my-tr">
            <th style="width: 10px">No</th>
            <th class="text-center">Topik</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Pengkajian Pasien Sakit Kritis</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Gagal Nafas Akut</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Tatalaksana Jalan Napas Pada Pasien Sakit Kritis</td>
          </tr>
          <tr>
            <td>4.</td>
            <td>Ventilasi Mekanis - Dasar</td>
          </tr>
          <tr>
            <td>5.</td>
            <td>Ventilasi Mekanis - Mode Umum</td>
          </tr>
          <tr>
            <td>6.</td>
            <td>Ventilasi Mekanis - Pengaturan</td>
          </tr>
          <tr>
            <td>7.</td>
            <td>Ventilasi Mekanis - Pemantauan dan pemecahan masalah</td>
          </tr>
          <tr>
            <td>8.</td>
            <td>
              Pengkajian, Pemantauan dan Penatalaksanaan Hemodinamik (Dasar)
            </td>
          </tr>
          <tr>
            <td>9.</td>
            <td>Syok</td>
          </tr>
          <tr>
            <td>10.</td>
            <td>Resusitasi Jantung Paru</td>
          </tr>
          <tr>
            <td>11.</td>
            <td><i>Acute Kidney Injury</i> (AKI)</td>
          </tr>
          <tr>
            <td>12.</td>
            <td>Terapi Cairan</td>
          </tr>
          <tr>
            <td>13.</td>
            <td>Transportasi Pasien Kritis</td>
          </tr>
          <tr>
            <td>14.</td>
            <td>Sepsis dan Syok Septik</td>
          </tr>
          <tr>
            <td>15.</td>
            <td>Trauma Berat</td>
          </tr>
          <tr>
            <td>16.</td>
            <td>Kedaruratan Neurologis</td>
          </tr>
          <tr>
            <td>17.</td>
            <td>Pediatrik</td>
          </tr>
          <tr>
            <td>18.</td>
            <td>Sedasi dan analgesia</td>
          </tr>
          <tr>
            <td></td>
            <td>- Dukungan Nutrisi</td>
          </tr>
          <tr>
            <td></td>
            <td>- Tromboemboli - Risiko dan Pencegahannya</td>
          </tr>
          <tr>
            <td></td>
            <td>- Pencegahan Stress Ulcer dan Pendarahan Lambung</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr class="bg-my-tr">
            <th>Diskusi Khusus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>- Tatalaksa Jalan Napas</td>
          </tr>
          <tr>
            <td>- Resusi Jantung Paru</td>
          </tr>
          <tr>
            <td>- Sepsis dan Syok Septik</td>
          </tr>
          <tr>
            <td>- Ventilasi Mekanis - Pengenalan Setting</td>
          </tr>
          <tr>
            <td>- Venrilasi Mekanis - Pemecahan Masalah</td>
          </tr>
          <tr>
            <td>- Ventilasi Mekanis - Asma, ARDS, COVID - 19</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
